@{
    ViewData["Title"] = "Tracking Good Habits";
}

<div class="text-center" style="margin:20px">
    <form>
        <div class="mb-3">
            <div id="emailHelp" class="form-text">Please input your username to use the app</div>
            <input type="text" class="form-control" id="exampleInputEmail1" style="margin: 10px auto;width: 350px;">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
